.col-sm-12 {
  padding: 0rem;
}

.header {
    height: 10rem;
    padding-top: 3rem;
    background-image: url(./logo.PNG);
    background-repeat: no-repeat;
    background-color: #F0F0F0;
    background-position: 1rem;
}

.page-router h1 {
    font-family: "Noto Sans", "Source Sans Pro", "Open Sans", Verdana, "Helvetica Neue", Arial, "Trebuchet MS", Sans-Serif;
    color: #006699;
}

.page-router {
  float: right;
  display: flex;
  padding-right: 3rem;
}

.page-router button {
  margin: 1rem;
}

.page1 {
    height: 25rem;
    padding-top: 3rem;
}

.landing-block.background-content {
    overflow: hidden;
    position: absolute;
    margin-top: -3rem;
    left: 0;
    z-index: -1;
    width: 100%;
    height: inherit;
}

.page1 .landing-block.foreground-content {
    background-color: rgba(0, 0, 0, 0.5);
    width: 45rem;
    padding: 10px 20px 10px 20px; 
}

/*
.page2 .landing-block.foreground-content {
    background-color: rgba(0, 0, 0, 0.5);
    width: 45rem;
    padding: 10px 20px 10px 20px; 
}
*/

.page1 .foreground-content h1 {
      font-family: "Gustan",Helvetica,Arial,sans-serif;
    font-weight: 200;
    color: white;
    font-size: 42px;
}

#page1 .msdhIntro .msdhIntro-p {
    margin: 2rem;
    font-size: 1.5rem
}

#page1 .msdhIntro .msdhIntro-p p {
    margin: 1rem 0;
}

/*about page*/
.aboutPage-container h2 {
  text-align: center;
}

#about-msdhIntro {
  width: 100%;
  margin: 2rem auto;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  background-color: #F0F0F0;
}

/*profile page*/
.profileContainer .nav-tabs{
      background-color: #F0F0F0;
      border-bottom: none !important;
}

.profileContainer .nav-tabs{
   display: flex;
   justify-content: center;
}

.profileContainer .nav-tabs>li>a {
  font-size: 2rem;
}

.profileContainer .nav-tabs>li.active>a {
    font-weight: 600 !important;
    background-color: transparent;
    border:none;
}

.profileContainer .nav-tabs>li>a:hover {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: #337ab7;
}

/*sidebar*/
.tabPanel-profilePage .nav-tabs>li:hover {
    background-color: #f4fbf0
}

.tabPanel-profilePage .nav-tabs>li>a:hover {
    background-color: transparent;
    border: none;
    color: #068;
}

.tabPanel-profilePage > .tabbable {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 0.1rem;
}

.tabPanel-profilePage > .tabbable > .tab-content {
  width: 110rem;
  height: 0.1rem;
  margin-top: -5rem;
  z-index: -1;
}

.tabPanel-profilePage > .tabbable > .nav-tabs {
  background-color: #EFF6EE;
}

#tabPanel-side-profilePage > li > a {
  color: #506650;
  font-size: 1.5rem;
}

#tabPanel-side-profilePage > li.active > a {
  color: #006604;
}

#tabPanel-side-profilePage {
  display: flex;
  flex-direction: column;
  /*background-color: transparent;*/
  justify-content: flex-start;
} 

.tabPanel-profilePage .tabPanel-plotBlock .tabbable {
  display:flex;
  flex-direction:column-reverse
}

.tabPanel-profilePage .tabPanel-plotBlock .nav-tabs {
  width: 15rem;
  margin-top: 8rem;
}

.tabPanel-profilePage .tabPanel-plotBlock .tab-content {
  padding-top: 25px;
}

#tabPanel-side-profilePage .dropdown-menu {
  position: relative;
  top: 0;
}

/*profile-page county title*/
/*
#search-renderprofile-headerUI {
  font-size: 3rem;
  padding: 1rem 3rem;
}
*/

/*profile-page update-search section*/
.update-search {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.update-search .profile-searchBox {
  margin: 0rem;
}

.update-search .profile-searchBox .form-group {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-right: 2rem;
  margin-bottom:0rem;
}

.update-search .searchBox-btn {
  width: 13rem;
  margin: 0rem;
}


/*profile-page county-intro*/ 
.county-intro {
  padding: 1rem 2rem 2rem;
  font-size: 1.6rem;
}

.county-intro div:first-child{
  font-size: 2rem;
  margin-bottom: 1rem;
}

/*profile-page sidenav*/
.profilePage-sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30rem;
  right: 3rem;
  width: 20rem;
  background-color: #F8F9FA;
}

.profilePage-sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 1.3rem;
  color: #2196F3;
}

.sidenav a:focus, a:hover {
  color: #064579;
  background-color: rgb(144,144,144, 0.2);
  text-decoration: none;
  font-size: 1.35rem;
}

/*style tryPage, need to move to/ change to page2 later*/
#page3 #tabPanel-side-profilePage {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: flex-start;
} 

/*toggleBlock*/
.dashboard-block {
  width: 100%;
  height: 80rem;
  margin: 6rem;
  padding: 6rem;
  background-color: #F8F9FA;
  display: flex;
  flex-direction: column;
}

.dashboard-block .nav-tabs>li>a {
  font-size: 1.5rem;
}

.dashboard-block .data-source {
  font-style: italic;
  font-family: italic;
  margin-top: 3rem;
}

.dashboard-block .shiny-download-link {
  align-self: flex-end;
  margin-top: -3.2rem;
}

/*line graph*/
.tabPanel-profilePage .line-graph {
  display: flex;
  justify-content: space-between;
}
.tabPanel-profilePage .shiny-input-checkboxgroup {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*control panel*/
.control-panel {
  width: 100%;
  padding: 3rem 3rem;
  margin: 0 0 0 4rem;
  background-color: white;
  font-size: 1.2rem;
}
.control-panel .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.control-panel .form-group>div {
  width: 10rem;
}

.control-panel .dash-selectbox {
  margin-top: 3rem;
}

/*Searchbox*/
.tabPanel-profileSearch .search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem 4rem;
}

.tabPanel-profileSearch .search-container p{
  margin-bottom: 2rem;
  font-size:3rem;
}

.tabPanel-profileSearch .profile-searchBox {
  margin-bottom: 0.8rem;
}

.tabPanel-profileSearch .form-group {
  display: flex;
  align-items: flex-start !important;
  justify-content: center;
  margin-bottom: 0px;
  margin-right: 2rem;
}

.tabPanel-profileSearch .searchBox-btn {
  margin-top: 1rem;
  width: 6rem;
  background-color: rgb(94,94,94,0.3);
}

.tabPanel-profileSearch .search-searchBtn {
  padding-left: 2rem;
  padding-right: 2rem;
}

